<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Tasktype</th>
    <th>Titulo</th>
    <th>Descricao</th>
    <th>Datainicial</th>
    <th>Datafinal</th>
    <th>Semdata</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

</table>

<br />

<%= link_to 'New Task', new_task_path %>
